# **ENGG680 - Introduction to Digital Engineering**
## *Lab Assignment 1: Using Git and Python for Collaborative Coding in Google Colab*

## Preliminary: Certificate of Work
### (5 Marks)

*We, the undersigned, certify that this is our own work, which has been done expressly for this course, either without the assistance of any other party or where appropriate we have acknowledged the work of others. Further, we have read and understood the section in the university calendar on plagiarism/cheating/other academic misconduct and we are aware of the implications thereof. We request that the total mark for this assignment be distributed as follows among group members:*

|          | First Name | Last Name | Signature (Full Name, Date) | Hours | Contribution % |
|----------|------------|-----------|-----------------------------|-------|----------------|
| Member 1: |Samarth Udayan | Pathak | Samarth udayan Pathak, 26/9/24 |  5|  25% |
| Member 2: |Leena Manoharlal | Panjwani | Leena Manoharlal Panjwani, 26/9/24 |5| 25% |
| Member 3: |Gargi Harvindersingh | Sandhu | Gargi Harvindersingh Sandhu, 26/9/24  |5| 25% |
| Member 4: |Dev |Joshi | Dev Joshi, 26/9/24 |5| 25% |

## Part 1: Printing to the Console
### (6 Marks)

In [ ]:
# In the space below, please print "Hello, World! Welcome to the Student Gradebook Management System."
# (1 mark)
print("Hello, World! Welcome to the Student Gradebook Management System.")

Hello, World! Welcome to the Student Gradebook Management System.

In [ ]:
# Fill in your information using the defined variables below:
# (1 mark)
lab_group_number = print("15")
intake_year = print("2024")
intake_semester = print  #"Fall" #"Fall" or "Winter"

# Using f-strings and the variables above, print "This is implemented by Group <lab_group_number>, for ENGG680 <intake_semester> of <intake_year>"
# (2 marks)]}
print("f-This is implemented by Group {15}, for ENGG680 {Fall} of {2024}" )

15
2024
f-This is implemented by Group {15}, for ENGG680 {Fall} of {2024}

In [ ]:
# Use indexing to print "The subjects involved in this grading system is English and Math." using "subjects" below.
# (2 marks)
subjects = ("English", "Math")
print("f-The subjects involved in this grading system is {English[0]} and {Maths[1]}.")

f-The subjects involved in this grading system is {English[0]} and {Maths[1]}.

## Part 2: Using Pandas for Data Management and Analytics
### (20 marks)

In [2]:
# In the space below, please import the Pandas library
# (1 mark)
import pandas as pd

In [4]:
# Load the student grade CSV files into DataFrames using the defined variables
# (2 marks)
df_english = '/content/drive/MyDrive/engg680_2024_fall/Lab_Assignment1/studentGrades_English.csv'
df_math = '/content/drive/MyDrive/engg680_2024_fall/Lab_Assignment1/studentGrades_Math.csv'
df1 = pd.read_csv(df_english)
df2 = pd.read_csv(df_math)
print("\nFull DataFrame 1:")
print(df1)
print("\nFull DataFrame 2:")
print(df2)

Full DataFrame 1:
   firstName  lastName  studentID  grade
0       Emma     Smith      10959     95
1     Sophia  Robinson      75175     88
2       Emma    Taylor      42257     87
3      David  Robinson      55148     86
4    Stephen     Curry      30303     90
5   Isabella  Thompson      72824     88
6    Jasmine     Smith      70385     84
7      James     Jones      87707     76
8      Sarah     Swift      61026     80
9       Anne     Clark      90449     82
10      Ryan    Thomas      62137     92
11    Daniel     White      25477     91
12      Sara       Doe      47991     98
13   Matthew     White      25376     80

Full DataFrame 2:
   firstName  lastName  studentID  grade
0      James     Jones      87707     92
1      Sarah     Swift      61026     98
2       Anne     Clark      90449     99
3       Ryan    Thomas      62137     89
4     Daniel     White      25477     87
5       Sara       Doe      47991     86
6    Matthew     White      25376     85
7       Emma     Smith      10959     90
8     Sophia  Robinson      75175     95
9       Emma    Taylor      42257     85
10     David  Robinson      55148     87
11   Stephen     Curry      30303     88
12  Isabella  Thompson      72824     79
13   Jasmine     Smith      70385     80

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
# Merging the DataFrames on 'studentID'
df_english = '/content/drive/MyDrive/engg680_2024_fall/Lab_Assignment1/studentGrades_English.csv'
df_math = '/content/drive/MyDrive/engg680_2024_fall/Lab_Assignment1/studentGrades_Math.csv'
df1 = pd.read_csv(df_english)
df2 = pd.read_csv(df_math)

df_studentGrades = pd.merge(df1, df2, on='studentID', suffixes=('_english', '_math'))
pd.set_option('display.max_columns', None)

print(df_studentGrades)

   firstName_english lastName_english  studentID  grade_english  \
0               Emma            Smith      10959             95
1             Sophia         Robinson      75175             88
2               Emma           Taylor      42257             87
3              David         Robinson      55148             86
4            Stephen            Curry      30303             90
5           Isabella         Thompson      72824             88
6            Jasmine            Smith      70385             84
7              James            Jones      87707             76
8              Sarah            Swift      61026             80
9               Anne            Clark      90449             82
10              Ryan           Thomas      62137             92
11            Daniel            White      25477             91
12              Sara              Doe      47991             98
13           Matthew            White      25376             80

   firstName_math lastName_math  grade_math
0            Emma         Smith          90
1          Sophia      Robinson          95
2            Emma        Taylor          85
3           David      Robinson          87
4         Stephen         Curry          88
5        Isabella      Thompson          79
6         Jasmine         Smith          80
7           James         Jones          92
8           Sarah         Swift          98
9            Anne         Clark          99
10           Ryan        Thomas          89
11         Daniel         White          87
12           Sara           Doe          86
13        Matthew         White          85

In [ ]:
# Take a look at the data contained in the csv files. Why is studentID chosen as the key?
# (1 mark)
print("StudentID is chosen as a key because it uniquely identifies each student across each datasets. This ensures that the grades from both subjects (English and Math) are correctly matched to the corresponding student.")

StudentID is chosen as a key because it uniquely identifies each student across each datasets. This ensures that the grades from both subjects (English and Math) are correctly matched to the corresponding student.

In [ ]:
# Let's calculate the average GPA across the two classes for each student
df_studentGrades['GPA'] = df_studentGrades[['grade_english', 'grade_math']].mean(axis=1)
print("\nMerged DataFrame with GPA:")
print(df_studentGrades)

Merged DataFrame with GPA:
   firstName_english lastName_english  studentID  grade_english  \
0               Emma            Smith      10959             95
1             Sophia         Robinson      75175             88
2               Emma           Taylor      42257             87
3              David         Robinson      55148             86
4            Stephen            Curry      30303             90
5           Isabella         Thompson      72824             88
6            Jasmine            Smith      70385             84
7              James            Jones      87707             76
8              Sarah            Swift      61026             80
9               Anne            Clark      90449             82
10              Ryan           Thomas      62137             92
11            Daniel            White      25477             91
12              Sara              Doe      47991             98
13           Matthew            White      25376             80

   firstName_math lastName_math  grade_math   GPA
0            Emma         Smith          90  92.5
1          Sophia      Robinson          95  91.5
2            Emma        Taylor          85  86.0
3           David      Robinson          87  86.5
4         Stephen         Curry          88  89.0
5        Isabella      Thompson          79  83.5
6         Jasmine         Smith          80  82.0
7           James         Jones          92  84.0
8           Sarah         Swift          98  89.0
9            Anne         Clark          99  90.5
10           Ryan        Thomas          89  90.5
11         Daniel         White          87  89.0
12           Sara           Doe          86  92.0
13        Matthew         White          85  82.5

In [ ]:
# Do you notice a problem? The rows for first name and last name have been duplicated!
# .drop(columns=['<column_name1>','<column_name2>'] is a Pandas method that can be used to drop columns.
# In the space below, drop the first name and last name associated with the math .csv file.
# (2 mark)


print("Columns in the DataFrame:")
print(df_studentGrades.columns)
df_studentGrades = df_studentGrades.drop(columns=['firstName_math', 'lastName_math'])

print("Updated Merged DataFrame with GPA:")
print(df_studentGrades)

Columns in the DataFrame:
Index(['firstName_english', 'lastName_english', 'studentID', 'grade_english',
       'firstName_math', 'lastName_math', 'grade_math', 'GPA'],
      dtype='object')
Updated Merged DataFrame with GPA:
   firstName_english lastName_english  studentID  grade_english  grade_math  \
0               Emma            Smith      10959             95          90
1             Sophia         Robinson      75175             88          95
2               Emma           Taylor      42257             87          85
3              David         Robinson      55148             86          87
4            Stephen            Curry      30303             90          88
5           Isabella         Thompson      72824             88          79
6            Jasmine            Smith      70385             84          80
7              James            Jones      87707             76          92
8              Sarah            Swift      61026             80          98
9               Anne            Clark      90449             82          99
10              Ryan           Thomas      62137             92          89
11            Daniel            White      25477             91          87
12              Sara              Doe      47991             98          86
13           Matthew            White      25376             80          85

     GPA
0   92.5
1   91.5
2   86.0
3   86.5
4   89.0
5   83.5
6   82.0
7   84.0
8   89.0
9   90.5
10  90.5
11  89.0
12  92.0
13  82.5

In [ ]:
# Let's display the data again. Use an appropriate method (hint: already used before)
# (1 mark)
print(df_studentGrades)

   firstName_english lastName_english  studentID  grade_english  grade_math  \
0               Emma            Smith      10959             95          90
1             Sophia         Robinson      75175             88          95
2               Emma           Taylor      42257             87          85
3              David         Robinson      55148             86          87
4            Stephen            Curry      30303             90          88
5           Isabella         Thompson      72824             88          79
6            Jasmine            Smith      70385             84          80
7              James            Jones      87707             76          92
8              Sarah            Swift      61026             80          98
9               Anne            Clark      90449             82          99
10              Ryan           Thomas      62137             92          89
11            Daniel            White      25477             91          87
12              Sara              Doe      47991             98          86
13           Matthew            White      25376             80          85

     GPA
0   92.5
1   91.5
2   86.0
3   86.5
4   89.0
5   83.5
6   82.0
7   84.0
8   89.0
9   90.5
10  90.5
11  89.0
12  92.0
13  82.5

In [ ]:
# Let's also rename the first and last names appropriately.
# Complete the code in the space below by replacing "<>" with the proper column name
# (1 mark)

df_studentGrades = df_studentGrades.rename(columns={
    'firstName_english': 'firstName',
    'lastName_english': 'lastName',
    'grade_english': 'englishGrade',
    'grade_math': 'mathGrade'
})
print("Updated DataFrame with renamed columns:")
print(df_studentGrades)

Updated DataFrame with renamed columns:
   firstName  lastName  studentID  englishGrade  mathGrade   GPA
0       Emma     Smith      10959            95         90  92.5
1     Sophia  Robinson      75175            88         95  91.5
2       Emma    Taylor      42257            87         85  86.0
3      David  Robinson      55148            86         87  86.5
4    Stephen     Curry      30303            90         88  89.0
5   Isabella  Thompson      72824            88         79  83.5
6    Jasmine     Smith      70385            84         80  82.0
7      James     Jones      87707            76         92  84.0
8      Sarah     Swift      61026            80         98  89.0
9       Anne     Clark      90449            82         99  90.5
10      Ryan    Thomas      62137            92         89  90.5
11    Daniel     White      25477            91         87  89.0
12      Sara       Doe      47991            98         86  92.0
13   Matthew     White      25376            80         85  82.5

In [ ]:
# Now let's find out some statistics about our student grades!
# Please use an appropriate Pandas method in the space below to display statistical values like
# mean, standard deviation, min, max, and others.
# (1 mark)
grade_stats = df_studentGrades[['englishGrade', 'mathGrade', 'GPA']].describe()

print(grade_stats)

       englishGrade  mathGrade       GPA
count     14.000000  14.000000  14.00000
mean      86.928571  88.571429  87.75000
std        6.145221   5.918865   3.63609
min       76.000000  79.000000  82.00000
25%       82.500000  85.250000  84.50000
50%       87.500000  87.500000  89.00000
75%       90.750000  91.500000  90.50000
max       98.000000  99.000000  92.50000

In [ ]:
# Do you notice a problem?
# Some statistics are not relevant. The average of studentIDs have no meaning in reality!
# Let's typecast each column appropriately so as to only get meaningful statistics.
# In the code below, replace '<>' by choosing between 'str' for string or 'float' for float
# to properly typecast each column.
# (3 marks)
df_studentGrades['studentID'] = df_studentGrades['studentID'].astype(str)
df_studentGrades['firstName'] = df_studentGrades['firstName'].astype(str)
df_studentGrades['lastName'] = df_studentGrades['lastName'].astype(str)
df_studentGrades['englishGrade'] = df_studentGrades['englishGrade'].astype(float)
df_studentGrades['mathGrade'] = df_studentGrades['mathGrade'].astype(float)
df_studentGrades['GPA'] = df_studentGrades['GPA'].astype(float)

In [ ]:
# Now let's see our statistics!
df_studentGrades.describe()

       englishGrade  mathGrade       GPA
count     14.000000  14.000000  14.00000
mean      86.928571  88.571429  87.75000
std        6.145221   5.918865   3.63609
min       76.000000  79.000000  82.00000
25%       82.500000  85.250000  84.50000
50%       87.500000  87.500000  89.00000
75%       90.750000  91.500000  90.50000
max       98.000000  99.000000  92.50000

In [ ]:
# Now sort the merged dataframe so that it is in descending order based on GPA, and print it
# (1 mark)
df_studentsGPASorted =df_studentGrades.sort_values(by='GPA', ascending=False)

print(df_studentsGPASorted)

   firstName  lastName studentID  englishGrade  mathGrade   GPA
0       Emma     Smith     10959          95.0       90.0  92.5
12      Sara       Doe     47991          98.0       86.0  92.0
1     Sophia  Robinson     75175          88.0       95.0  91.5
9       Anne     Clark     90449          82.0       99.0  90.5
10      Ryan    Thomas     62137          92.0       89.0  90.5
4    Stephen     Curry     30303          90.0       88.0  89.0
8      Sarah     Swift     61026          80.0       98.0  89.0
11    Daniel     White     25477          91.0       87.0  89.0
3      David  Robinson     55148          86.0       87.0  86.5
2       Emma    Taylor     42257          87.0       85.0  86.0
7      James     Jones     87707          76.0       92.0  84.0
5   Isabella  Thompson     72824          88.0       79.0  83.5
13   Matthew     White     25376          80.0       85.0  82.5
6    Jasmine     Smith     70385          84.0       80.0  82.0

In [ ]:
# If we wanted to access the student with the highest gpa based on df_studentsGPASorted,
# does .iloc or .loc make more sense and why?
# (2 marks)
print ("In this case,.iloc is the better way to locate the student with the greatest GPA. .iloc is used to access data at a specific integer location. The student with the highest GPA will be at index 0 in df_studentsGPASorted, which is sorted by GPA. Data can be accessed by label using.loc. While it can be used to access rows by index, it is more typically used alongside labels (such as column names). In this scenario, we don't have a label for the kid with the best GPA, so.iloc is more appropriate.")

In this case,.iloc is the better way to locate the student with the greatest GPA. .iloc is used to access data at a specific integer location. The student with the highest GPA will be at index 0 in df_studentsGPASorted, which is sorted by GPA. Data can be accessed by label using.loc. While it can be used to access rows by index, it is more typically used alongside labels (such as column names). In this scenario, we don't have a label for the kid with the best GPA, so.iloc is more appropriate.

In [ ]:
# Now using the method you specified, assign the variable below to the row containing the student with the highest GPA
# (1 mark)
top_student = df_studentsGPASorted.iloc[0]

In [ ]:
# Now print the student first name and last name with the highest GPA in this format:
# "The student with the highest GPA is <firstName> <lastName> with a GPA of <GPA>"
# (1 mark)
top_student = df_studentsGPASorted.iloc[0]

# Extract the first name, last name, and GPA
first_name = top_student['firstName']
last_name = top_student['lastName']
gpa = top_student['GPA']

# Print the formatted message
print(f"The student with the highest GPA is {first_name} {last_name} with a GPA of {gpa}")

The student with the highest GPA is Emma Smith with a GPA of 92.5

In [ ]:
# We can use logical expressions to filter and print data. For example, let's print the students with math grades higher than 90:
df_mathGrade_over90 = df_studentsGPASorted[df_studentsGPASorted['mathGrade'] > 90]
print(df_mathGrade_over90)

  firstName  lastName studentID  englishGrade  mathGrade   GPA
1    Sophia  Robinson     75175          88.0       95.0  91.5
9      Anne     Clark     90449          82.0       99.0  90.5
8     Sarah     Swift     61026          80.0       98.0  89.0
7     James     Jones     87707          76.0       92.0  84.0

In [ ]:
# Now print the students whos GPA are lower than 85
# (2 marks)
low_gpa_students = df_studentsGPASorted[df_studentsGPASorted['GPA'] < 85]

print(low_gpa_students)

   firstName  lastName studentID  englishGrade  mathGrade   GPA
7      James     Jones     87707          76.0       92.0  84.0
5   Isabella  Thompson     72824          88.0       79.0  83.5
13   Matthew     White     25376          80.0       85.0  82.5
6    Jasmine     Smith     70385          84.0       80.0  82.0

## Part 3: More Data Analytics using Pandas
### (20 marks)

In [7]:
# Select the column 'grade' from the original English grade dataset and print it
# (1 mark)
import pandas as pd

file_path = '/content/drive/MyDrive/engg680_2024_fall/Lab_Assignment1/studentGrades_English.csv'
df = pd.read_csv(file_path)

grade_column = df['grade']

print(grade_column)

0     95
1     88
2     87
3     86
4     90
5     88
6     84
7     76
8     80
9     82
10    92
11    91
12    98
13    80
Name: grade, dtype: int64

In [10]:
# Select the column 'GPA' from the df_studentGrades and print it
# (1 mark)
import pandas as pd

df_english = '/content/drive/MyDrive/engg680_2024_fall/Lab_Assignment1/studentGrades_English.csv'
df_math = '/content/drive/MyDrive/engg680_2024_fall/Lab_Assignment1/studentGrades_Math.csv'

df1 = pd.read_csv(df_english)
df2 = pd.read_csv(df_math)

df_studentGrades = pd.merge(df1, df2, on='studentID', suffixes=('_english', '_math'))
pd.set_option('display.max_columns', None)

df_studentGrades['GPA'] = df_studentGrades[['grade_english', 'grade_math']].mean(axis=1)
df_studentGrades['GPA'] = df_studentGrades['GPA'] / 100 * 4
print("\nMerged DataFrame with GPA:")
GPA_column = df_studentGrades['GPA']

print(GPA_column)

Merged DataFrame with GPA:
0     3.70
1     3.66
2     3.44
3     3.46
4     3.56
5     3.34
6     3.28
7     3.36
8     3.56
9     3.62
10    3.62
11    3.56
12    3.68
13    3.30
Name: GPA, dtype: float64

In [8]:
# What is the data type of grade from the English grade dataset?
# (0.5 mark)
print("the column 'grade' from the original English grade dataset is integer")

# What is the data type of GPA from the merged dataset?
# (0.5 mark)
print("the data type of GPA from the merged dataset is float")

# Is it different? Why?
# (1 mark)
print("For whole numbers like grades, integer data type is appropriate, while for numbers with decimal points like GPA, float data type is suitable.")

the column 'grade' from the original English grade dataset is integer
the data type of GPA from the merged dataset is float
For whole numbers like grades, integer data type is appropriate, while for numbers with decimal points like GPA, float data type is suitable.

In [70]:
# Load the student homeroom CSV file into a DataFrame using the following variable name
# (1 mark)

import pandas as pd

file_path = '/content/drive/MyDrive/engg680_2024_fall/Lab_Assignment1/studentHomerooms.csv'
df_homeroom = pd.read_csv(file_path)

print(df_homeroom)

   firstName  lastName  studentID  homeRoom
0       Emma     Smith      10959       313
1     Sophia  Robinson      75175       311
2       Emma    Taylor      42257       311
3      David  Robinson      55148       313
4    Stephen     Curry      30303       313
5   Isabella  Thompson      72824       311
6    Jasmine     Smith      70385       313
7      James     Jones      87707       313
8      Sarah     Swift      61026       311
9       Anne     Clark      90449       311
10      Ryan    Thomas      62137       313
11    Daniel     White      25477       311
12      Sara       Doe      47991       311
13   Matthew     White      25376       313

In [16]:
# Merge the studentHomerooms with the merged dataset. Make sure that the key you are joining on are the same typecast for both datasets.
# Also ensure that there are no redundant columns, and finally display the first few rows.
# Hint: try joining on more than one column to avoid having to drop redundant columns, ie. on=['studentID', '<ColumnA>', '<ColumnB>'] ...
# (5 marks)
df_english = pd.read_csv('/content/drive/MyDrive/engg680_2024_fall/Lab_Assignment1/studentGrades_English.csv')
df_math = pd.read_csv('/content/drive/MyDrive/engg680_2024_fall/Lab_Assignment1/studentGrades_Math.csv')
df_homeroom = pd.read_csv('/content/drive/MyDrive/engg680_2024_fall/Lab_Assignment1/studentHomerooms.csv')
merged_df = pd.merge(df_english, df_math[['studentID', 'grade']], on='studentID', suffixes=('', '_math'))
merged_df['Total_Marks'] = merged_df['grade'] + merged_df['grade_math']
merged_df['Percentage'] = merged_df['Total_Marks'] / 200
merged_df['GPA'] = merged_df['Percentage'] * 4
merged_df.sort_values('GPA', inplace=True, ascending=False)
merged_df_2 = pd.merge(df_homeroom[['studentID', 'homeRoom']], merged_df, on='studentID', suffixes=('_homeroom', ''))
df_studentInfo = merged_df_2.drop(columns=['grade', 'grade_math', 'Total_Marks', 'Percentage'])
print(df_studentInfo.head())

   studentID  homeRoom firstName  lastName   GPA
0      10959       313      Emma     Smith  3.70
1      75175       311    Sophia  Robinson  3.66
2      42257       311      Emma    Taylor  3.44
3      55148       313     David  Robinson  3.46
4      30303       313   Stephen     Curry  3.56

In [22]:
# The code below calculates the mean of each homeroom class.
df_grouped = df_studentInfo.groupby('homeRoom')['GPA'].mean()

# Which homeroom has a higher GPA?
# (1 mark)
highest_gpa_homeroom = df_studentInfo.loc[df_studentInfo['GPA'].idxmax()]

print(f"Homeroom with the highest GPA:\n{highest_gpa_homeroom}")

Homeroom with the highest GPA:
studentID    10959
homeRoom       313
firstName     Emma
lastName     Smith
GPA            3.7
Name: 0, dtype: object

In [24]:
# Now let's work with multiple sorts. The .sort_values() method can sort by multiple columns, meaning you can specify a primary column and a secondary column for sorting.
# For example, by=['ColumnA', 'ColumnB'] will first sort by ColumnA and then by ColumnB.
# Create and print a DataFrame, df_studentsGPASorted_homeroom, which is sorted by homeRoom and then by GPA, both in descending order.
# (3 mark)
df_studentsGPASorted_homeroom = df_studentInfo.sort_values(by=['homeRoom', 'GPA'], ascending=[False, False])
print(df_studentsGPASorted_homeroom)

    studentID  homeRoom firstName  lastName   GPA
0       10959       313      Emma     Smith  3.70
10      62137       313      Ryan    Thomas  3.62
4       30303       313   Stephen     Curry  3.56
3       55148       313     David  Robinson  3.46
7       87707       313     James     Jones  3.36
13      25376       313   Matthew     White  3.30
6       70385       313   Jasmine     Smith  3.28
12      47991       311      Sara       Doe  3.68
1       75175       311    Sophia  Robinson  3.66
9       90449       311      Anne     Clark  3.62
8       61026       311     Sarah     Swift  3.56
11      25477       311    Daniel     White  3.56
2       42257       311      Emma    Taylor  3.44
5       72824       311  Isabella  Thompson  3.34

In [25]:
# Do you notice a problem with the indices? They are basically meaningless now that we have sorted by homeroom and GPA.

# The code below changes the index of the dataframe so that it is more intuitive.
df_studentsGPASorted_homeroom['studentRank'] = df_studentsGPASorted_homeroom.groupby('homeRoom').cumcount() + 1
df_studentsGPASorted_homeroom['newIndex'] = df_studentsGPASorted_homeroom['homeRoom'].astype(str) + '-' + df_studentsGPASorted_homeroom['studentRank'].astype(str)
df_studentsGPASorted_homeroom = df_studentsGPASorted_homeroom.set_index('newIndex')
df_studentsGPASorted_homeroom = df_studentsGPASorted_homeroom.drop(columns=['studentRank'])

print(df_studentsGPASorted_homeroom)

          studentID  homeRoom firstName  lastName   GPA
newIndex
313-1         10959       313      Emma     Smith  3.70
313-2         62137       313      Ryan    Thomas  3.62
313-3         30303       313   Stephen     Curry  3.56
313-4         55148       313     David  Robinson  3.46
313-5         87707       313     James     Jones  3.36
313-6         25376       313   Matthew     White  3.30
313-7         70385       313   Jasmine     Smith  3.28
311-1         47991       311      Sara       Doe  3.68
311-2         75175       311    Sophia  Robinson  3.66
311-3         90449       311      Anne     Clark  3.62
311-4         61026       311     Sarah     Swift  3.56
311-5         25477       311    Daniel     White  3.56
311-6         42257       311      Emma    Taylor  3.44
311-7         72824       311  Isabella  Thompson  3.34

In [30]:
# Describe what each coding line in the cell above is doing
# (4 marks)
df_studentsGPASorted_homeroom['studentRank'] = df_studentsGPASorted_homeroom.groupby('homeRoom').cumcount() + 1
df_studentsGPASorted_homeroom['newIndex'] = df_studentsGPASorted_homeroom['homeRoom'].astype(str) + '-' + df_studentsGPASorted_homeroom['studentRank'].astype(str)
df_studentsGPASorted_homeroom = df_studentsGPASorted_homeroom.set_index('newIndex').drop(columns=['studentRank'])
print("data frame with new index based on homeRoom and student rank:")
print(df_studentsGPASorted_homeroom)

data frame with new index based on homeRoom and student rank:
          studentID  homeRoom firstName  lastName   GPA
newIndex
313-1         10959       313      Emma     Smith  3.70
313-2         62137       313      Ryan    Thomas  3.62
313-3         30303       313   Stephen     Curry  3.56
313-4         55148       313     David  Robinson  3.46
313-5         87707       313     James     Jones  3.36
313-6         25376       313   Matthew     White  3.30
313-7         70385       313   Jasmine     Smith  3.28
311-1         47991       311      Sara       Doe  3.68
311-2         75175       311    Sophia  Robinson  3.66
311-3         90449       311      Anne     Clark  3.62
311-4         61026       311     Sarah     Swift  3.56
311-5         25477       311    Daniel     White  3.56
311-6         42257       311      Emma    Taylor  3.44
311-7         72824       311  Isabella  Thompson  3.34

In [36]:
# Given df_studentsGPASorted_homeroom, please find and print the students with the highest GPA in each homeroom using the .loc method.
# (2 marks)
max_gpa_per_homeroom = df_studentsGPASorted_homeroom.groupby('homeRoom')['GPA'].max()
df_studentsGPASorted_homeroom.set_index('homeRoom', inplace=True)
highest_gpa_students = df_studentsGPASorted_homeroom[df_studentsGPASorted_homeroom['GPA'].isin(max_gpa_per_homeroom)]
print("Students with the highest GPA in each homeroom:")
print(highest_gpa_students)

Students with the highest GPA in each homeroom:
          studentID firstName lastName   GPA
homeRoom
313           10959      Emma    Smith  3.70
311           47991      Sara      Doe  3.68

## Part 4: Using Matplotlib for Data Analytics
### (14 marks)

In [ ]:
# In the space below, please import the matplotlib library
# (1 mark)

In [ ]:
# Let's use matplotlib to display a histogram of the grades distribution
# Histograms are useful for seeing the distribution of the students grades

plt.figure(figsize=(10, 6))
plt.hist(df_studentGrades['englishGrade'], bins=10, alpha=0.7, label='English Grades', color='blue')

# Step 1: Use the line above as reference to create a histogram for the math grades
# (1 mark)
#

# Step 2: Ensure that your plot is descriptive, so use labels (x and y axis), a title, and a legend.
# Hint: Use the matplotlib .legend(loc='<location>') to add and place the legend.
# You can use 'upper left', 'upper right', 'lower left', and 'lower right' to specify the location.
# (4 marks)
#
plt.grid(True)

# Step 3: Use the .savefig('<image_title>'.png) to output an image file of the histogram.
# Please be sure to use a descriptive title!
# (1 mark)
#

plt.show()

In [ ]:
# Let's also use matplotlib to display a scatter plot of English vs. Math grades
# Scatter plots are useful for seeing the relationship between two variables
plt.figure(figsize=(10, 6))

# Step 1: Use .scatter(x_data, y_data) to create a scatter plot using the English grades on the x-axis, and Math grades on the y-axis
# (2 mark)
#

# Step 1: Properly label the x and y axes as well as the title of your plot.
# (3 marks)
#
plt.grid(True)

# Step 2: Output an image file for the scatter plot with a descriptive file name
# (1 mark)
#

plt.show()

In [ ]:
# From the scatter plot, is there a relationship between the Math and English grades?
# (1 mark)
#